.active-link {
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 5px 30px 5px 30px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 75px;
    letter-spacing: 7px;
    text-align: center;
}

a {
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 1px 20px 1px 20px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 20px;
    letter-spacing: 3px;
    line-height: 35px ;
    text-align: center;
}

